body {
  font-family: Arial, sans-serif;
  background-color: #162936;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3b5265;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  font-size: 3rem;
  margin: 0;
  color: #e44a02;
}

header p {
  font-size: 1.2rem;
  margin: 0.5rem 0 0 0;
  color: #ffffff;
}

/* รูปโปรไฟล์ */ 
.profile {
  text-align: center;
  padding: 2%;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

/* ข้อความ */
.namebox {
  text-align: center;
  padding: 2%;
  color: #ffffff;
  font-size: 20px;
}

/* วิดีโอแนะนำตัว */
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.video-box {
  background: #3b5265;        /* สีพื้นหลังกรอบ */
  padding: 2rem;
  border-radius: 10px;
  text-align: center;         /* จัดเนื้อหาทั้งหมดให้อยู่ตรงกลาง */
  width: 580px;
}

.video-box h2 {
  color: #ffffff;
  margin-bottom: 1.5rem;
  text-align: center;         /* ให้หัวข้ออยู่ตรงกลาง */
}

.video-box video {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  outline: none;
  display: block;
  margin: 0 auto;
}

/* ตารางกิจกรรมและข้อมูลติดต่อ */
.schedule, .contact {  
  width: 80%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background: #3b5265;
  border-radius: 8px;
}

.schedule h2 {
  color: #ffffff;
  text-align: left;
}
.schedule-box {
  overflow-x: auto; /* เพิ่มแถบเลื่อนแนวนอนเมื่อเนื้อหากว้างเกิน */
  color: #7fffd4;
}
.contact h2 {
  color: #ffffff;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #7fffd4;
  color: #3b5265;
  font-weight: bold;
}

/* ลิงก์ */
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 0.5rem;
  background-color: #222;
  color: white;
  font-size: 0.9rem;
}
